**/*.iml
**/*.idea
**/target
**/.project
**/.settings
**/.classpath
**/npm-debug.log
**/node/*
**/nb-configuration.xml
**/*.war
**/*.class
**/.vscode
**/*.DS_Store
.repo
**/pom.xml.releaseBackup
release.properties
**/*.pyc
/keycloak-integration-tests/dependency-reduced-pom.xml
